/* Primary Colour Scheme */
:root {
    --primary-colour: #2f855aff;
    --secondary-colour: #a7c4a0ff;
    --accent-colour: #f6ad55ff;
    --background-colour: #fffdf7ff;
    --text-colour: #2d3748ff;
    --error-colour: #DC2626;
}

@font-face {
    font-family: "roboto";
    src: url("roboto.ttf");
}

* {
    font-family: "roboto";
    color: var(--text-colour);
}

/* #region Theme Colours */
.primary-colour {color:#fffdf7ff !important; background-color:#2f855aff !important}
.secondary-colour {background-color:#a7c4a0ff !important}
.accent-colour {color:#fffdf7ff !important; background-color:#f6ad55ff !important}
.error-colour{color:#fffdf7ff !important; background-color:#DC2626 !important}

.w3-theme-light {color:#000 !important; background-color:#fffbf0 !important}
.w3-theme-dark {color:#fff !important; background-color:#826200 !important}
.w3-theme-action {color:#fff !important; background-color:#826200 !important}

.theme {color:#2d3748ff!important; background-color:#fffdf7ff !important}
.text-colour {color:#2d3748ff !important}
.white-text-colour {color:#fffdf7ff !important}
.w3-border-theme {border-color:#ffc107 !important}
.black-container {background-color: #2d3748ff; color: #fffdf7ff !important}

.hover-colour:hover {color:#fffdf7ff !important; background-color:#f6ad55ff !important}
.btn-hover-colour:hover {color:#fffdf7ff !important; background-color:#f39523 !important}
.w3-hover-text-theme:hover {color:#ffc107 !important}
.w3-hover-border-theme:hover {border-color:#ffc107 !important}

/* #endregion */


/* W3 Overrides*/
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
}

.w3-bar {
    height: 5rem;
}

.w3-bar .w3-bar-item {
    display: flex !important;
    align-items: center;
    height: 100%;
    transition: all 0.3s ease-in;
}

.nav-btns {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 1rem;
    height: 100%;
}

.nav-btns .w3-btn {
    height: 80% !important;
}

.w3-btn {
    transition: all 0.3s ease-in;
}

footer {
    display: flex !important;
    align-items: center;

    margin-top: 2rem;
    height: 4rem !important;
    padding: 1.2rem;

    font-weight: 600;
}

/* #region Base */
/* Styling for most of the site - the base of each element */

/*html, body {
    height: 100%;
    margin: 0;
}

body {
    font-size: 1rem;
    padding: 0;
    background-color: var(--background-colour);
    color: var(--text-colour);

    display: flex;
    flex-direction: column;
}

main {
    flex: 1;

    padding: 1rem;
    line-height: 1.6;
    font-size: 1.2rem;
}

h1, header {
    font-size: 2rem;
    font-weight: 800;
    margin: 0 1.2rem;
}

footer {
    display: flex;
    align-items: center;

    width: 100%;
    padding: 1.2rem;
    margin-top: 2rem;

    background-color: var(--text-colour);
    backdrop-filter: blur(15px);
    color: var(--background-colour);
    text-align: center;
    font-weight: 600;

    box-sizing: border-box;
}

/* #endregion */

/* #region Buttons */

/*

.btns {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;

    flex: 1;
}

.btn {
    display: flex;
    border: none;
    padding: 0.5rem 1.5rem;
    cursor: pointer;

    border-radius: 30px;
    font-weight: 600;
    font-size: 1.35rem;

    background-color: var(--accent-colour);
    color: var(--background-colour);

    text-decoration: none;
    text-align: center;
    transition: 0.3s ease-in;
}

.btn:hover {
    background-color: #f39523;
    transform: scale(1.15);
}

/* #endregion */

/* #region Navbar */

/*

.navbar {
    display: flex;
    align-items: center;

    width: 100%;
    margin-bottom: 2rem;

    background-color: var(--primary-colour);
    backdrop-filter: blur(15px);

    position: sticky;
    top: 0;
}

.logo {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--background-colour);
    letter-spacing: 1px;

    margin-left: 1rem;
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex: 1;
    gap: 2rem;
    justify-content: center;
}

.navlink a {
    color: var(--background-colour);
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    transition: 0.3s;

    display: flex;
    padding: 1.2rem;
}

.navlink a:hover {
    background-color: var(--accent-colour);
    cursor: pointer;
}

.navbar .btns {
    justify-content: flex-end;
}
/* #endregion */