/* Primary Colour Scheme */
:root {
    --primary-colour: #2f855aff;
    --secondary-colour: #a7c4a0ff;
    --accent-colour: #f6ad55ff;
    --background-colour: #fffdf7ff;
    --text-colour: #2d3748ff;
    --error-colour: #DC2626;
}

@font-face {
    font-family: "roboto";
    src: url("roboto.ttf");
}

* {
    font-family: "roboto";
    color: var(--text-colour);
}

/* #region Base */
/* Styling for most of the site - the base of each element */

body {
    margin: 0;
    font-size: 1rem;
    padding: 0;
    background-color: var(--background-colour);
    color: var(--text-colour);
}

main {
    padding: 1.05rem;
    line-height: 1.6;
}

.btns {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
}

.btn:hover {
    background-color: rgb(243, 149, 35);
}

/* #endregion */

/* #region Navbar */
.navbar {
    display: flex;
    align-items: center;

    width: 100%;
    margin-bottom: 2rem;

    background-color: var(--primary-colour);
    backdrop-filter: blur(15px);
}

.logo {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--background-colour);
    letter-spacing: 1px;

    margin-left: 1rem;
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex: 1;
    gap: 2rem;
    justify-content: center;
}

.navbar a {
    color: var(--background-colour);
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    transition: 0.3s;

    display: flex;
    padding: 1.2rem;
}

.navbar a:hover {
    background-color: var(--accent-colour);
    cursor: pointer;
}

.navbar .btns {
    flex: 1;
    justify-content: flex-end;
}

.navbar .btn {
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.35rem;

    background-color: var(--accent-colour);
    color: var(--background-colour);
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in;
}

/* #endregion */