{% extends "layout.html" %}
{% block content %}
    <style>
        #appointment_fields,
        #medication_fields {
            display: none;
        }
    </style>

    <div class="w3-card w3-round-large w3-white w3-hover-shadow form-card">
        <form method="POST">
            {{ form.hidden_tag() }}
            
            <!-- Name Div -->
            <div class="form-field">
                {{ form.name.label }}
                <label class="sub-label" for="name">What do you want this reminder to be called?</label>
                {{ form.name }}

                {% for error in form.name.errors %}
                    <p class="form-errors">{{ error }}</p>
                {% endfor %}
            </div>

            <!-- Description Div -->
            <div class="form-field">
                {{ form.desc.label }}
                <label class="sub-label" for="desc">Optionally add any additional information related to this reminder</label>
                {{ form.desc }}
                
                {% for error in form.desc.errors %}
                    <p class="form-errors">{{ error }}</p>
                {% endfor %}
            </div>

            <!-- Type ID Div -->
            <div class="form-field">
                {{ form.type_id.label }}
                <label class="sub-label" for="type_id">Is this a reminder for an appointment or a medication?</label>

                <div class="form-wrapper">
                    {{ form.type_id(id="reminder_type", onchange="toggleFields()") }}
                    <i class="fa-solid fa-chevron-down"></i>
                </div>

                {% for error in form.type_id.errors %}
                    <p class="form-errors">{{ error }}</p>
                {% endfor %}
            </div>

            <div id="appointment_fields" class="form-field">
                {{ form.appointment_datetime.label }}
                <label class="sub-label" for="appointment_datetime">When will this appointment take place?</label>
                {{ form.appointment_datetime }}

                {% for error in form.appointment_datetime.errors %}
                    <p class="form-errors">{{ error }}</p>
                {% endfor %}
            </div>

            <div id="medication_fields" class="form-field">
                {{ form.medication_time.label }}
                <label class="sub-label" for="medication_time">What time do you want to be reminded tp take this medication (daily)?</label>
                {{ form.medication_time }}

                {% for error in form.medication_time.errors %}
                    <p class="form-errors">{{ error }}</p>
                {% endfor %}
            </div>

            <label for="privacy-policy" style="text-align: left;" class="sub-label">
                I confirm that the information I have entered is accurate and up to date.
                <input name="privacy-policy" type="checkbox" class="w3-check" style="cursor: pointer;" required>
            </label>

            <button type="submit" class="w3-btn w3-round-xlarge btn-hover-colour accent-colour" style="margin-bottom: 50px;">
                Add Reminder
            </button>
        </form>

        <a href="{{ url_for('main.reminders') }}" class="w3-btn w3-round-xlarge btn-hover-colour accent-colour">
            Return
        </a>
    </div>

    <script>
        function toggleFields() {
            const type = document.getElementById("reminder_type").value;

            document.getElementById("appointment_fields").style.display = 
                type === "1" ? "block" : "none";
            
            document.getElementById("medication_fields").style.display = 
                type === "2" ? "block" : "none";
        }

        document.addEventListener("DOMContentLoaded", toggleFields);
    </script>
{% endblock %}
    