{% extends "layout.html" %}
{% block content %}

<h1>{{ current_user.first_name }}</h1>
{% if current_user.is_admin %} <h3>You are an admin</h3> {% endif %}

<div class="btns">
    <a href="{{ url_for('main.health_info') }}" class="w3-btn w3-round-xlarge btn-hover-colour accent-colour">
        Health Info
    </a>

    <a href="{{ url_for('main.reminders') }}" class="w3-btn w3-round-xlarge btn-hover-colour accent-colour">
        Reminders
    </a>

    <a href="{{ url_for('main.logout') }}" class="w3-btn w3-round-xlarge btn-hover-colour accent-colour">
        Logout
    </a>
</div>

{% endblock %}