<html>
<head>
    <style>
        body {
            font-family: Arial;
            padding: 40px;
        }
        h1 {
            border-bottom: 2px solid #333;
        }
        .section {
            margin-bottom: 20px;
        }

        .logo-image {
            width: auto;
            height: 128px;
            
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    </style>
</head>
<body>
    <h1>Patient Summary</h1>

    <div class="section">
        <strong>Name: </strong> {{ name }} <br>
        <strong>DOB: </strong> {{ dob }} <br>
    </div>

    {% for type in types %}
        <h2>{{ type.name }}</h2>
        {% for entry in user_health_entries %}
            {% if entry.health.type_id == type.id %}
                <p><strong>{{ entry.health.name }}</strong></p>
                <p>{{ entry.description }}</p>
                <br>
            {% endif %}
        {% endfor %}
    {% endfor %}

    <img src="static/uploads/healthbridge.png" alt="logo" class="logo-image">
</body>
</html>