{% extends "layout.html" %}
{% block content %}

<p>Add your health information here</p>

<div class="btns">
    <a href="/add-health-info" class="w3-btn w3-round-xlarge btn-hover-colour accent-colour">
        Add Health Information
    </a>
    <button onclick="toggleModal('modal_send_info')" class="w3-btn w3-round-xlarge btn-hover-colour accent-colour">
        Send Health Information
    </button>
    <a href="/download-health-pdf" class="w3-btn w3-round-xlarge btn-hover-colour accent-colour">
        Download Health PDF
    </a>
</div>

 <!-- Send health info popup -->
<div id="modal_send_info" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <form method="POST" action="/send-health-info">
                <label for="receiver_email">Enter receivers email: </label>
                <input type="email" name="receiver_email" id="receiver_email" required>

                <button type="submit"
                        class="w3-btn w3-round-xlarge btn-hover-colour accent-colour">
                    Send
                </button>
            </form>

            <span onclick="toggleModal('modal_send_info')"
            class="w3-button">
                Close
            </span>
        </div>
    </div>
</div>

<!-- Dropdowns for each health category showing user their health info -->
<div class="health-list">
    {% for type in types %}
        <div>
            <button id="dropdown_{{ type.id }}" onclick="accordionDropdown('{{ type.id }}', '{{ type.name}}')"
            class="w3-block w3-left-align w3-card secondary-colour w3-text-bold w3-xlarge category-button">
                {{ type.name }}
                <span id="arrow_{{ type.id }}" class="arrow">❯</span>
            </button>
            
            <!-- List of health infos under specific category -->
            <ul id="health_section_{{ type.id }}" class="w3-container w3-ul w3-card w3-large accordion-content">
                {% for entry in user_health_entries %}
                    {% if entry.health.type_id == type.id %}
                        <li class="w3-display-container">
                            <button onclick="toggleModal('modal_{{ entry.id }}')"
                            class="w3-btn w3-circle error-colour w3-display-topright btn-hover-red">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                            <h3><strong>{{ entry.health.name }}</strong></h3>
                            <p>{{ entry.description }}</p>
                        </li>
                        
                        <!-- Delete health info popup -->
                        <div id="modal_{{ entry.id }}" class="w3-modal">
                            <div class="w3-modal-content">
                                <div class="w3-container">
                                    <h3>Delete Health Information</h3>
                                    <p>Are you sure you want to permanently delete: <strong>{{ entry.health.name }}</strong>?</p>
                                    <p class="modal-warning">This action cannot be undone.</p>

                                    <div class="modal-actions">
                                        <button type="button" onclick="toggleModal('modal_{{ entry.id }}')"
                                        class="w3-button">
                                            Cancel
                                        </button>
                                        
                                        <form method="POST" action="/remove-health-info">
                                            <input type="hidden" name="entry_id" value="{{ entry.id }}">
                                            
                                            <button type="submit"
                                                    class="w3-button w3-error-colour">
                                                Confirm Delete
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>

<script src="static/js/modal.js"></script>
<script>
    // Controls accordion content
    function accordionDropdown(id, name) {
        var section = document.getElementById("health_section_" + id);
        var dropdown = document.getElementById("dropdown_" + id);
        var arrow = document.getElementById("arrow_" + id);

        arrow.classList.toggle("rotate");
        
        // Checks whether section is currently open or not - then hides/shows accordingly
        if (section.style.height && section.style.height !== "0px") {
            section.style.height = "0px";
            section.style.opacity = "0";
        } else {
            section.style.height = section.scrollHeight + "px";
            section.style.opacity = "1";
        }
    }
</script>

{% endblock %}