{% extends "layout.html" %}
{% block content %}
    <p>Health Bridge
    A mobile-friendly health tracking app designed specifically for the elderly

    Features:
    - Store personal Health info for doctors to access
    - Set reminders for medicine and/or appointments
    - Simple and accessible user interface for elderly users</p><br>

    <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquet interdum turpis, at semper est sodales tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse sit amet metus nisl. Vestibulum nec molestie ante. Cras sed ex nec enim tempus mattis. Morbi id libero eget leo convallis vehicula sed non mi. Integer pharetra metus quis arcu condimentum, a maximus orci consequat. Fusce volutpat quam neque, interdum molestie enim sagittis et. Nullam molestie, purus in fringilla iaculis, quam est lacinia metus, eget volutpat ligula eros sed enim. Aenean a faucibus sapien. Morbi suscipit orci eu vehicula tempor. Nunc imperdiet fringilla tincidunt. Cras suscipit ligula sed diam aliquam viverra.
        <br>
Fusce pellentesque venenatis porta. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean sit amet ultrices ex. Ut ac arcu in massa varius tincidunt sed in sapien. Pellentesque ex risus, rutrum non vestibulum ut, facilisis in lectus. Nam in consequat metus. Integer sollicitudin metus id lobortis placerat. Vestibulum tempor elit lectus, vitae pretium felis faucibus at. Quisque semper at magna a mattis. Curabitur egestas sem sit amet elit ultricies pharetra. Mauris sit amet nulla a metus pellentesque varius a nec nunc. Aenean luctus neque sit amet dolor facilisis, vel pretium nisi egestas. Ut cursus pulvinar erat, eu feugiat dolor laoreet ac. Aenean tempus nibh ipsum, vitae scelerisque risus consectetur ut.

Donec at ipsum purus. Ut sed laoreet elit. Morbi pellentesque eu erat et pulvinar. Quisque sed nibh lacus. Sed malesuada fringilla ultrices. Curabitur porta porttitor turpis eget fermentum. In hac habitasse platea dictumst.

Suspendisse ac dignissim urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque at ultricies risus, vitae tempus sapien. Aenean rhoncus id nunc eget aliquet. Praesent dui felis, fermentum non ullamcorper dignissim, sollicitudin et eros. Nullam laoreet leo in risus feugiat rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Pellentesque in ultricies est. Aliquam non bibendum metus. Proin eget sagittis ex. Donec facilisis sagittis elit, vel mattis tortor. Phasellus a turpis eget erat tempus luctus. Vivamus eu dignissim ex, finibus fermentum ipsum. Donec ultrices at mauris et lobortis. In convallis lorem non accumsan vulputate. Duis mollis diam non elementum luctus. Donec vulputate urna congue neque viverra semper. Aliquam erat volutpat. Maecenas auctor consectetur ligula. Proin ac viverra massa. Pellentesque quis egestas ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </p>

    <!-- Login/Register Buttons -->
    <div class="btns">
        {% if not current_user.is_authenticated %}
            <a href="/login" class="w3-btn w3-round-xlarge btn-hover-colour accent-colour">
                Login
            </a>
            <a href="/register" class="w3-btn w3-round-xlarge btn-hover-colour accent-colour">
                Register
            </a>
        {% endif %}
    </div>
{% endblock %}