{% extends "layout.html" %}
{% block content %}
    <p>
    The purpose of this app is to allow a simple method for anyone to keep track of relevant personal health information which can be easily send to doctors. <br>
    This allows doctors to have a clear understanding of you, reducing the chance of them making mistakes if they are not provided all information. <br><br>
    I have personally seen close family members suffer from a doctor's lack of knowledge and intend to greatly reduce the chance of that ever happening to anyone. <br>
    The app is designed to be very simple and clear to use, ensuring accessibility for everyone. <br><br>
    This app also contains a dashboard to keep track of upcoming doctors appointments and medication which must be taken.
    </p><br>

    <!-- Login/Register Buttons -->
    <div class="btns">
        {% if not current_user.is_authenticated %}
            <a href="/login" class="w3-btn w3-round-xlarge btn-hover-colour accent-colour">
                Login
            </a>
            <a href="/register" class="w3-btn w3-round-xlarge btn-hover-colour accent-colour">
                Sign Up
            </a>
        {% else %}
            <div class="btns">
                <a href="{{ url_for('main.health_info') }}" class="w3-btn w3-round-xlarge btn-hover-colour accent-colour">
                    Health Info
                </a>

                <a href="{{ url_for('main.reminders') }}" class="w3-btn w3-round-xlarge btn-hover-colour accent-colour">
                    Reminders
                </a>

                <a href="{{ url_for('main.logout') }}" class="w3-btn w3-round-xlarge btn-hover-colour accent-colour">
                    Logout
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}