<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Bridge</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">HealthBridge</div>
        <ul>
            <li class="navlink"><a href="/">Home</a></li>

            <!-- Shows register/login if not logged in, dashboard otherwise -->
            {% if current_user.is_authenticated %}
                <li class="navlink"><a href="/dashboard">Dashboard</a></li>
                <li class="navlink"><a href="/health-info">Health Info</a></li>
            {% endif %}
        </ul>

        <!-- Navbar Buttons -->
        <div class="btns">
            {% if not current_user.is_authenticated %}
                <a href="/login" class="btn">Login</a>
                <a href="/register" class="btn">Register</a>
            {% endif %}
        </div>
    </nav>

    <header>{{ header }}</header>

    <main>{% block content %}{% endblock %}</main>
    
    <footer>&copy;Miguel Monreal 2026</footer>
</body>
</html>