{% extends "layout.html" %}
{% block content %}
    <h1>Login...</h1>

    <form method="POST">
        {{ form.hidden_tag() }}

        <!-- Email Div -->
        <div>
            {{ form.email.label }}
            {{ form.email }}

            {% for error in form.email.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>

        <!-- Password Div -->
        <div>
            {{ form.password.label }}
            {{ form.password }}

            {% for error in form.password.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>
        
        <label for="remember">Remember Me</label>
        <input name="remember" type="checkbox" value="True">

        {{ form.submit }}
    </form>

    <p>Don't have an account? <a href="{{ url_for('main.register') }}">Sign Up</a></p>
    <p>Forgot your password? <a href="{{ url_for('main.reset_password', email_verified=False) }}">Reset Password</a></p>
{% endblock %}