{% extends "layout.html" %}
{% block content %}

<p>Add your reminders for medicine or schedule appointments here</p>

<div class="btns">
    <a href="/add-reminder" class="w3-btn w3-round-xlarge btn-hover-colour accent-colour">
        Add Reminder
    </a>
</div>

<div class="w3-flex">
    <!-- Dropdowns for each reminder category showing user their reminders -->
    <div class="category-list w3-container" style="flex: 0.5">
        {% for type in types %}
            <button id="dropdown_{{ type.id }}" onclick="accordionDropdown('{{ type.id }}', '{{ type.name }}')"
            class="w3-button w3-block w3-left-align w3-card secondary-colour w3-text-bold w3-xlarge">
                {{ type.name }}s >
            </button>
            
            <!-- List of reminders under specific category -->
            <ul id="reminder_section_{{ type.id }}" class="w3-container w3-hide w3-ul w3-card w3-large"
            style="padding:0.5rem">
                {% for reminder in user_reminders %}
                    {% if reminder.type_id == type.id %}
                        <li class="w3-display-container">
                            <button onclick="toggleModal('modal_{{ reminder.id }}')"
                            class="w3-btn w3-circle error-colour w3-display-topright btn-hover-red">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                            <p><strong>{{ reminder.name }}</strong></p>
                            <p>{{ reminder.desc }}</p>
                        </li>
                        
                        <!-- Delete reminder popup -->
                        <div id="modal_{{ reminder.id }}" class="w3-modal">
                            <div class="w3-modal-content">
                                <div class="w3-container">
                                    <p>Are you sure you want to delete: <strong>{{ reminder.name }}</strong>?</p>
                                    <span onclick="toggleModal('modal_{{ reminder.id }}')"
                                    class="w3-button">
                                        Cancel
                                    </span>
                                    
                                    <form method="POST" action="/remove-reminder">
                                        <input type="hidden" name="reminder_id" value="{{ reminder.id }}">
                                        
                                        <button type="submit"
                                                onclick="toggleModal('modal_{{ reminder.id }}')"
                                                class="w3-btn w3-error-colour">
                                            Confirm Delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </ul>
        {% endfor %}
    </div>

    <div class="w3-container" style="flex: 1">
        <h2>Medication Tracker</h2>
        <table class="w3-table-all">
            <thead class="w3-border-black w3-xlarge" style="border: 0.2rem solid black;">
                <tr class="secondary-colour w3-border">
                    <th>Name</th>
                    <th>Time</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            {% for reminder in user_reminders %}
                {% if reminder.type_id == 2 %} <!-- Medication id is 2 -->
                    <tr id="med_status_{{ reminder.id }}" data-status-id="{{ reminder.status.id }}">
                        <td>{{ reminder.name }}</td>
                        <td>{{ reminder.display_time }}</td>
                        <td>{{ reminder.description }}</td>
                        <td>{{ reminder.status.name }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>

<script src="static/js/modal.js"></script>
<script>
    // Controls accordion content
    function accordionDropdown(id, name) {
        var section = document.getElementById("reminder_section_" + id);
        var dropdown = document.getElementById("dropdown_" + id);
        
        // Checks whether section is currently open or not - then hides/shows accordingly
        if (section.className.indexOf("w3-show") == -1) {
            section.className += " w3-show";
            dropdown.textContent = name + "s ⌄"
        } else {
            section.className = section.className.replace(" w3-show", "");
            dropdown.textContent = name + "s >"
        }
    }
</script>

<script>
    // Runs the colour status function on all rows when content is loaded
    document.addEventListener("DOMContentLoaded", () => {
        // Finds all rows that begin with 'med_status_'
        document.querySelectorAll("tr[id^='med_status_']").forEach(row => {
            const reminderId = row.id.replace("med_status_", ""); // Only gives id
            const statusId = row.dataset.statusId;

            colourStatus(reminderId, statusId);
        });
    });

    const OVERDUE_ID = {{ overdue_id|tojson }};
    const UPCOMING_ID = {{ upcoming_id|tojson }};
    const TAKEN_ID = {{ taken_id|tojson }};

    // Changes hues of rows based on status
    // Ensures rows remain striped so they are easy to distinguish by adding hue to pre-existing colour
    function colourStatus(id, statusId) {
        var row = document.getElementById("med_status_" + id);
        if (!row) return;

        // Gets base HSL value
        let base = getRowBaseColour(row);
        
        // Extracts HSL values
        const match = base.match(/rgb\((\d+),\s*(\d+),\s*(\d+)\)/);
        if (!match) return;

        console.log(match);

        let r = parseInt(match[1]);
        let g = parseInt(match[2]);
        let b = parseInt(match[3]);
        
        // Adds hue to current hue
        if (statusId == OVERDUE_ID) {
            r -= 8;
            g -= 107;
            b -= 107;
        } 
        else if (statusId == UPCOMING_ID) {
            r -= 8;
            g -= 14;
            b -= 82;
        }
        else if (statusId == TAKEN_ID) {
            r -= 68;
            g -= 8;
            b -= 82;
        }

        row.style.backgroundColor = `rgb(${r}, ${g}, ${b})`
    }

    function getRowBaseColour(row) {
        const style = getComputedStyle(row);
        return style.getPropertyValue("background-color");
    }
</script>

{% endblock %}