{% extends "layout.html" %}
{% block content %}

<h1>Reset Password</h1>

<!-- First gets user to verify email, then allows password resetting -->
{% if not email_verified %}
    <form method="POST">
        {{ form.hidden_tag() }}
        
        {{ form.email }}

        {{ form.submit }}
    </form>
{% else %}
    <form method="POST">
        {{ form.hidden_tag() }}
        
        {{ form.password }}
        {{ form.confirm_password }}

        {{ form.submit }}
    </form>
{% endif %}

{% endblock %}